<footer class="bg-light text-center text-lg-start fixed-bottom">
    {% if 'ideas' in request.path or 'profile' in request.path %}
        <div class="my-5 text-center">
            <h4>You are {% if not user.subscribed %} not {% endif %} subscribed!</h4>
            <form method="post">
                {% csrf_token %}
                <div class="d-flex align-items-center w-100 justify-content-center">
                    {% if user.subscribed %}
                        <button class="my-2 mx-2 w-50 btn btn-danger shadow" name="unsubscribe">
                            Sign me out! Don't want it anymore.
                        </button>
                    {% else %}
                        <button class="my-2 mx-2 w-50 btn btn-success shadow" name="subscribe">
                            Sign me in! I want to be notified.
                        </button>
                    {% endif %}
                </div>
            </form>
        </div>
    {% else %}
        <div class="my-5 text-center">
        <h4>BitByBit recruitment task</h4>
        <div class="d-flex align-items-center w-100 justify-content-center">
                <button class="my-2 mx-2 w-50 btn btn-outline-secondary" disabled>
                    Inactive
                </button>
        </div>

    {% endif %}
</footer>