{% extends '_base.html' %}

{% block title %}Testing{% endblock title %}

{% block content %}
    {% load crispy_forms_tags %}
    <form method="post" id="testing_form" class="mt-5">
        {% csrf_token %}
        <button class="btn btn-success mx-1 w-50 shadow" type="submit">Run live server tests!</button>
    </form>
    
    <h2 class="mt-5">Code for the tests on the server:</h2>
    <a href="https://github.com/Marcin-Fraszczak/django_baseuser/blob/railway/users/tests/test_task1.py"
    class="btn btn-lg btn-outline-secondary my-3">Server task 1</a><br>
    <a href="https://github.com/Marcin-Fraszczak/django_baseuser/blob/railway/users/tests/test_task2.py"
    class="btn btn-lg btn-outline-secondary my-3">Server task 2</a><br>

    <a href="https://pytest-selenium-tests-production.up.railway.app/"
    class="btn btn-success mx-1 w-50 shadow mt-5">
        Run live Selenium tests!
    </a>

    <h2 class="mt-5">Code for the Selenium tests:</h2>
    <a href="https://github.com/Marcin-Fraszczak/pytest-selenium-tests/blob/master/test_task_1.py"
    class="btn btn-lg btn-outline-secondary my-3">Selenium task 1</a><br>
    <a href="https://github.com/Marcin-Fraszczak/pytest-selenium-tests/blob/master/test_task_2.py"
    class="btn btn-lg btn-outline-secondary my-3">Selenium task 2</a><br>

{% endblock content %}

