{% extends '_base.html' %}

{% block title %}Ideas{% endblock title %}

{% block content %}
    {% load crispy_forms_tags %}

    <div class="row mt-4">
        <div class="col-12 col-lg-6">
            <h2>Add new Idea</h2>
        </div>
        <div class="col-12 col-lg-6">
            {% include "partial_forms/_subscribe_form.html" %}
        </div>
    </div>

    <form method="post" class="mt-4" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button class="my-2 w-100 btn btn-primary shadow">Add new Idea</button>
    </form>


    <div class="row mt-4">
        <div class="col-12 col-lg-6">
            <h2>Existing Ideas:</h2>
        </div>
        <div class="col-12 col-lg-6">
            {% include "partial_forms/_delete_ideas_form.html" %}
        </div>
    </div>

    <ul class="mt-4">
        {% if not ideas %}
            No ideas to display.
        {% endif %}

        {% for idea in ideas %}
            <li>
                <div class="d-flex justify-content-between">
                    <h3 class="mx-2 d-flex">{{ idea.title }}</h3>

                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" name="delete_idea" value="{{ idea.pk }}"
                                class="btn btn-outline-danger mx-2 shadow">
                            Delete Idea
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>

                </div>
                <span class="d-flex">{{ idea.content }}</span>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}